# Diretórios e arquivos de build
/build/
/*/build/
/.idea/
/.gradle/
/local.properties
.DS_Store

# Arquivos de cache e configuração
*.iml
*.hprof
*.log
*.bak

# Android Studio e IntelliJ
.idea
*.iws
*.ipr
*.iml
*.class

# Arquivos do sistema
*.swp
*.swo
*.tmp

# Arquivos gerados pelo Gradle
.gradle/
build/

# Arquivos específicos do Android
captures/
output.json

# Arquivos do NDK
obj/

# Arquivos de configuração local
local.properties

# Arquivos do Keystore (se você tiver)
*.jks
*.keystore

# Outros
*.apk
*.ap_

